.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.top {
    background-color: hsl(215, 28%, 17%);
    
}
ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0;
    margin-right: 20px;
    padding: 8px;
}
li, p {
    margin: none;
    gap: 8px;
    color: #E5E7EB;
    font-size: 18px;
}
h1, .logo {
    color: #F9FAF8
}
h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}
.logo {
    padding: 8px;
    margin-left: 20px;
    font-size: 24px;
    display: flex;
}
.top-body {
    display: flex;
    justify-content: center;
    /* margin-left: 20px; */
    gap: 200px;
}
.top-body-left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
button {
    font-size: large;
    text-decoration: none;
    background-color: #3882f6;
    border-radius: 15px;
    height: 50px;
    width: 100px;
}
.github a {
    text-decoration: none;
    color: white;
}
p a {
    color:#3882f6;
    
}
.placeholder-image {
    color: white;
    background-color: grey;
    height: 250px;
    width: 400px; 
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-right: 20px;
} 
.middle-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
}
.middle-body {
    display: flex;
    justify-content: center;
    gap: 52px;
    height: 300px;
    padding-bottom: 50px;
}
.middle-content {
    max-width: 200px;
}
.middle-text {
}
.middle-placeholder {
    border-radius: 25px;
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    margin-bottom: 5px;
}